

.dashboard{
    color: blue;
    width: 171.5vh;
    height: 97.7vh;
    display: grid;
    align-items: center;
    grid-template-columns: 300px 250px 250px 250px;
    grid-template-rows: 300px;
    background-color: rgba(255, 255, 255, 0.309);
    backdrop-filter: blur(20px);
    outline: 1px solid white;
    margin-left: 239px;
    gap: 60px;

  }