.issue-department{
    height: 45px;
    width: 160vh;
    background-color: rgb(180, 185, 185);
    margin:20px;
    outline: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.issue-links:hover{
    background-color: blue;
    outline: 1px solid white;
    color: aliceblue;
}

.issue-links{
    height: 35px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: transparent;
    outline: none;
    margin: 5px;
}
.issue-department .active{
    background-color: rgba(165, 42, 42, 0.516);
    outline: 1px solid white;
    color: white;
}
